{% extends "course/base.html" %}
{% load static %}
{% block title %}Student Course Page - Video{% endblock title %}

{% block body %}
<main class="main-container">
    <div class="exercise-left">
        <div class="video-placeholder"></div>
        <h1 class="video-title">Video Title</h1>
        <p class="video-description">Description</p>
    </div>
    <div class="exercise-right">
    <div class="course-progress">
        <p class="course-name">Course Name</p>
        <p class="progress-text">Progress <span class="progress-percent">80%</span></p>
    </div>

    <div class="section">
        <div class="section-header">Section Name<img src="{% static 'images/down-arrow2.png' %}" alt="Arrow" class="arrow-icon"></div>
        <div class="section-content">
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">01</span></div>
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">02</span></div>
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">03</span></div>
        </div>
    </div>

    <div class="section">
        <div class="section-header">Section Name<img src="{% static 'images/down-arrow2.png' %}" alt="Arrow" class="arrow-icon"></div>
        <div class="section-content">
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">01</span></div>
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">02</span></div>
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">03</span></div>
        </div>
    </div>

    <div class="section">
        <div class="section-header">Section Name<img src="{% static 'images/down-arrow2.png' %}" alt="Arrow" class="arrow-icon"></div>
        <div class="section-content">
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">01</span></div>
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">02</span></div>
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number">03</span></div>
        </div>
    </div>
    </div>
</main>
<script src="{% static 'js/student_course_page_video.js' %}"></script>
{% endblock body %}
