{% extends "course/base.html" %}
{% load static %}
{% block title %}Student Course Page - Video{% endblock title %}

{% block body %}
<main class="main-container">
  <div class="exercise-left">
    <h1 class="exercise-title">Exercise Title</h1>

    <div class="question-section">
      <p class="question-text">MCQ Question Text</p>
      <div class="mcq-options">
        <label><input type="checkbox" name="mcq" /><span class="choice-text">Choice Text</span></label>
        <label><input type="checkbox" name="mcq" /><span class="choice-text">Choice Text</span></label>
        <label><input type="checkbox" name="mcq" /><span class="choice-text">Choice Text</span></label>
        <label><input type="checkbox" name="mcq" /><span class="choice-text">Choice Text</span></label>
      </div>
      <div class="question-actions">
        <button class="btn btn-dark">Edit</button>
        <button class="btn btn-dark">Remove</button>
      </div>
    </div>
    

    <div class="question-section">
      <p class="question-text">Writing Question Text</p>
      <input type="text" placeholder="Answer the question" />
      <div class="question-actions">
        <button class="btn btn-dark">Edit</button>
        <button class="btn btn-dark">Remove</button>
      </div>          
    </div>

    <button class="submit-btn" id="addQuestionBtn">Add Question</button>

  </div>
  <div class="exercise-right">
    <div class="course-progress">
      <p class="course-name">Course Name</p>
      <p class="progress-text">Progress <span class="progress-percent">80%</span></p>
    </div>

    <div class="section">
      <div class="section-header">Section Name<img src="{% static 'images/delete.png' %}" class="delete-icon"></div>
      <div class="section-content">
        <div class="object"><img src="{% static 'images/tdesign_icon.png' %}" class="object-icon"><span class="object-name">Object Name</span><span class="object-number"><img src="{% static 'images/edit.png' %}" class="edit-icon"></span></div>
      </div>
      <button class="add-object-btn">
          <span>Add Object</span>
          <img src="{% static 'images/add.png' %}" class="add-icon">
      </button>
    </div>

    <div class="section-btn-container">
        <button class="btn btn-dark" id="addSectionBtn">Add Section</button>
    </div>

  </div>
</main>
<script src="{% static 'js/teacher_course_page_exam.js' %}"></script>
{% endblock body %}