{% extends "pages/base.html" %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}
<div class="container center">
    {% include "pages/components/background.html" %}
    <div class="content">
        <div class="logo teacher-complete-account">
            <img src="{% static 'images/logo.png' %}" alt="NeurAcademy Logo">
        </div>
        <h2 class="main-header">Forgot Your Password?</h2>
        <div class="form-box">
            <form id="forgotPasswordForm">
                <label for="emailAddress" class="primary email-address-label">Enter Your Email Address</label>
                <input class="input-primary" placeholder="example@domain.com" type="email" id="emailAddress" name="emailAddress" required/>
                <div class="center">
                    <button class="primary forgot-password-submit-btn" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <p class="primary">Back to sign in? <a class="primary" href="{% url 'sign_in' %}">Sign In</a></p>
            <p class="primary">Don't have an account? <a class="primary" href="{% url 'student_sign_up' %}">Sign Up</a></p>
        </div>
    </div>
</div>
<script src="{% static 'js/forgot_password.js' %}"></script>
{% endblock body %}