{% extends "pages/base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock title %}
{% block body %}
<div class="container center">
    {% include "pages/components/background.html" %}
    <div class="content">
        <div class="logo teacher-complete-account">
            <img src="{% static 'images/logo.png' %}" alt="NeurAcademy Logo">
        </div>
        <h2 class="main-header">Reset Your Password</h2>
        <div class="form-box">
            <form id="resetPasswordForm">
                <label for="newPassword" class="primary new-password-label">New Password</label>
                <input class="input-primary new-password-input" placeholder="Enter new password" type="password" id="newPassword" name="newPassword" required/>
                <div class="password-requirements">
                    <p><span class="hollow-dot"></span> Use both lowercase and uppercase letters</p>
                    <p><span class="hollow-dot"></span> Use special characters e.g #, (, ...</p>
                    <p><span class="hollow-dot"></span> Use numbers</p>
                </div>
                <label for="repeatPassword" class="primary repeat-password-label">Repeat New Password</label>
                <input class="input-primary repeat-password-input" placeholder="Repeat new password" type="password" id="repeatPassword" name="repeatPassword" required/>
                <div class="center">
                    <button class="primary reset-password-submit-btn" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <p class="primary">Back to sign in? <a class="primary" href="{% url 'sign_in' %}">Sign In</a></p>
            <p class="primary">Don't have an account? <a class="primary" href="{% url 'student_sign_up' %}">Sign Up</a></p>
        </div>
    </div>
</div>
<script src="{% static 'js/reset_password.js' %}"></script>

{% endblock body %}
