<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Sign Up</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="icon" href="images/icon.png" />

    <link rel="stylesheet" href="temp.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container center">
        <img class="background-right" src="images/Background-Educational-Pattern.png" alt="Background Pattern" />
        <img class="background-left" src="images/Background-Educational-Pattern.png" alt="Background Pattern" />
        <div class="content">
            <div class="logo">
                <img src="images/logo.png" alt="NeurAcademy Logo">
            </div>
            
        </div>
    </div>
</body>
</html> 