{% extends "pages/base.html" %}
{% load static %}

{% block title %}Student Sign Up{% endblock title %}
{% block body %}
<div class="container center">
  {% include "pages/components/background.html" %}
  <div class="content">
    <div class="logo student-complete-account">
      <img src="{% static 'images/logo.png' %}" alt="NeurAcademy Logo" />
    </div>

    <h2 class="main-header">Complete Your Account</h2>

    <div class="form-box">
      <form id="studentCompleteAccount" method="post">
        {% csrf_token %}
        <label for="AuthenticationFile" class="primary authentication-file-label">Profile Picture (Optional)</label>

        <div class="file-upload">
          <input type="file" id="AuthenticationFile" name="AuthenticationFile" accept=".jpg, .jpeg, .png" hidden />
          <label id="custom-text" class="primary upload-btn" for="AuthenticationFile">
            Upload File
          </label>
          <img id="previewImage" src="#" alt="Image Preview" style="display: none; max-width: 100%; margin-top: 10px;" />
        </div>

        <div class="authentication-requirements">
          <p>• Formats available: JPEG, PNG</p>
        </div>

        <button class="primary student-complete-account-submit-btn" type="submit">
          Proceed
        </button>
      </form>
    </div>

    <div class="form-footer">
      <p class="primary">Not your account? <a class="primary" href="{% url 'logout' %}">Log Out</a></p>
    </div>
  </div>
</div>

<script src="{% static 'js/student_complete_account.js' %}"></script>
{% endblock body %}