{% extends "pages/base.html" %}
{% load static %}

{% block title %}Student Sign Up{% endblock title %}

{% block body %}
<div class="container center">
    {% include "pages/components/background.html" %}
    <div class="content">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="NeurAcademy Logo">
        </div>
        <h2 class="main-header">Create Student Account</h2>
        <div class="signup-form form-box">
            <form id="studentSignupForm" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group-horizontal">
                        <label class="primary first-name-label" for="firstName">First Name</label>
                        <input class="input-primary first-name" type="text" id="firstName" name="firstName" placeholder="Enter your first name" required>
                    </div>
                    <div class="form-group-horizontal">
                        <label class="primary last-name-label" for="lastName">Last Name</label>
                        <input class="input-primary last-name" type="text" id="lastName" name="lastName" placeholder="Enter your last name" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group-horizontal">
                        <label class="primary email-label" for="email">Email</label>
                        <input class="input-primary email" type="email" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group-horizontal">
                        <label class="primary">Date of Birth</label>
                        <div class="date-inputs">
                            <div class="select-wrapper">
                                <select class="primary input-primary" id="day" name="day" required></select>
                            </div>
                            
                            <div class="select-wrapper">
                                <select class="primary input-primary" id="month" name="month" required>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            
                            <div class="select-wrapper">
                                <select class="primary input-primary" id="year" name="year" required></select>
                            </div>
                        </div>
                    </div>                        
                </div>

                <div class="form-row">
                    <div class="form-group-horizontal">
                        <label class="primary password-label" for="password">Password</label>
                        <input class="input-primary password" type="password" id="password" name="password" placeholder="Enter a strong password" required>
                        <div class="password-requirements">
                            <p><span class="hollow-dot"></span> Use both lowercase and uppercase letters</p>
                            <p><span class="hollow-dot"></span> Use special characters e.g #, (, ...</p>
                            <p><span class="hollow-dot"></span> Use numbers</p>
                        </div>
                    </div>
                    
                    <div class="form-group-vertical">
                        <div class="form-group-horizontal">
                            <label class="primary" for="gender">Gender</label>
                            <div class="select-wrapper">
                                <select class="input-primary" id="gender" name="gender" required>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="form-group-horizontal">
                            <label class="primary" for="academicYear">Academic Year</label>
                            <div class="date-inputs">
                                <div class="select-wrapper">
                                    <select class="primary input-primary" id="academicYear" name="academicYear" required></select>
                                </div>
                            </div>
                        </div>
                                                    
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group-horizontal">
                        <label class="primary password-confirmation-label" for="confirmPassword">Confirm Password</label>
                        <input class="input-primary password-confirmation" type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter a strong password" required>
                    </div>

                    <div class="form-group-horizontal">
                        <label class="primary phone-label" for="phoneNumber">Phone Number</label>
                        <input class="input-primary phone-number" type="tel" id="phoneNumber" name="phoneNumber" placeholder="e.g. 01XXXXXXXXX" required>
                    </div>
                </div>
                
                <div class="submit">
                    <button type="submit" class="submit-btn primary student-sign-up-submit-btn">Sign Up as a Student</button>
                </div>
            </form>
        </div>

        <div class="form-footer">
            <p>Already have an account? <a href="{% url 'sign_in' %}" class="sign-in-link primary">Sign In</a></p>
            <p>Are you a Teacher? <a href="{% url 'teacher_sign_up' %}" class="secondary">Create Teacher Account</a></p>
        </div>
    </div>
</div>
<script src="{% static 'js/student_sign_up.js' %}"></script>

{% endblock body %}