{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'images/icon.png' %}" />

    <title>Teacher Course Page - Exam</title>
    
</head>
<body>
    <!-- Navigation Bar -->
    <header class="navbar">
        <div class="nav-left">
            <a href="#" class="nav-icon"><img src="{% static 'images/iconamoon_profile-fill.png' %}" alt="Profile" class="nav-img"></a>
            <a href="#" class="nav-icon"><img src="{% static 'images/home.png' %}" alt="Home" class="nav-img"></a>
        </div>
        <div class="logo">
            <img src="{% static 'images/Frame 1321317459.png' %}" alt="Logo" class="logo-img">
        </div>
        <div class="nav-right">
            <a href="#" class="nav-link">Manage Courses</a>
            <button class="btn btn-dark">Log out</button>
        </div>
    </header>
</body>
</html>